---
const nav_links: {
  label: string;
  href: string;
  icon: string;
  icon_sel:string;
}[] = [
            {
      label: 'feed',
      href: '/feed',
      icon: 'i-tabler:home',
      icon_sel:"i-tabler:home-filled"
    },
    {
      label: 'explore',
      href: '/explore',
      icon: 'i-tabler:compass',
      icon_sel:"i-tabler:compass-filled"
    },
            {
      label: 'upload',
      href: '/upload',
      icon: 'i-tabler:circle-plus',
      icon_sel:"i-tabler:circle-plus-filled"
    },

    {
      label: 'profile',
      href: '/profile',
      icon: 'i-tabler:user',
      icon_sel:"i-tabler:user-filled"
    },

  ];

import { base } from 'astro:config/client';
---

<div class="dock" transition:name="bottom_navigation"  >
  {
    nav_links.map((link) => (
      <a class={Astro.url.pathname.startsWith(`${base}${link.href}`) ? 'dock-active color-primary ' : ' color-neutral '} href=`${base}${link.href}`>

        { Astro.url.pathname.startsWith(`${base}${link.href}`) ?
          <div class=`${link.icon_sel}   size-5` /> :
          <div class=`${link.icon} size-5` />
        }
        <span class="dock-label capitalize">{link.label}</span>
      </a>
    ))
  }
</div>
